# 依赖目录
node_modules
dist
build
.coverage

# 配置文件
package-lock.json
yarn.lock
*.local

# 文档文件
CHANGELOG.md
README.md

# 二进制文件
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg
*.ttf
*.woff
*.woff2

# 日志文件
*.log
.npm

# 测试产物
/snapshots

# IDE 文件
.vscode
.idea
